<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yamanin.model.dao.AlarmDao">

    <!-- 알람 전체 조회 -->
    <select id="selectAll" resultType="Alarm">
        SELECT * FROM alarm;
    </select>

    <!-- 알람 등록 -->
    <insert id="insertAlarm" parameterType="Alarm" useGeneratedKeys="true" keyProperty="alarmId">
        INSERT INTO alarm (user_id, game_id, alarm_detail, alarm_read, created_date)
        VALUES (#{userId}, #{gameId}, #{alarmDetail}, #{alarmRead}, CURRENT_TIMESTAMP());
    </insert>

    <!-- 알람 삭제 -->
    <delete id="deleteAlarm" parameterType="int">
        DELETE FROM alarm 
        WHERE qnaId = #{alarmId};
    </delete>

</mapper>