<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yamanin.model.dao.ProfileDao">

    <!-- 유저 프로필 등록 -->
    <insert id="insertProfile" parameterType="Profile" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO profile (userId, profile_img, profile_text, support_team)
        VALUES (#{userId}, #{profileImg}, #{profileText}, #{supportTeam});
    </insert>

    <!-- 유저 프로필 id로 조회 -->
    <select id="selectOne" parameterType="int" resultType="Profile">
        SELECT * FROM profile
        WHERE userId = #{userId};
    </select>

    <!-- 유저 프로필 수정 -->
    <update id="updateProfile" parameterType="Profile">
        UPDATE profile
        SET profile_img = #{profileImg}, profile_text = #{profileText}, support_team = #{supportTeam}
        WHERE userId = #{userId};
    </update>

    <!-- 유저 프로필 삭제 -->
    <delete id="deleteProfile" parameterType="int">
        DELETE FROM profile
        WHERE userId = #{userId};
    </delete>

</mapper>